<h1>Wallet: <%= @wallet.name %></h1>

<%= link_to '<- Back', wallets_path %>
<br><br>
<table>
  <tr class="balance">
    <td colspan="2">Balance:</td>
    <td><%= number_to_currency(@wallet.balance) %></td>
  </tr>
  <tr>
    <th>Description</th>
    <th>Time</th>
    <th>Amount</th>
  </tr>
  <% @wallet.transactions.order(id: :desc).each do |transaction| %>
    <tr>
      <td>
        <%= transaction.incoming? ? 'Revenue from' : 'Expense for' %>
        <%= transaction.interact_wallet.name %>
      </td>
      <td>
        <%= time_tag(transaction.created_at) %>
      </td>
      <td class="amount <%= transaction.incoming? ? 'positive' : 'negative' %>">
        <%= number_to_currency(transaction.amount) %>
      </td>
    </tr>
  <% end %>
</table>

<h3>Make transaction</h3>
<form method="post" action="<%= wallet_transactions_path(@wallet) %>">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: name %>
  <% end %>
  <select name="interact_wallet_id">
    <option>Recipient</option>
    <optgroup label="Users">
      <% UserWallet.all.each do |wallet| %>
        <option value="<%= wallet.id %>"><%= wallet.name %></option>
      <% end %>
    </optgroup>
    <optgroup label="Teams">
      <% TeamWallet.all.each do |wallet| %>
        <option value="<%= wallet.id %>"><%= wallet.name %></option>
      <% end %>
    </optgroup>
    <optgroup label="Stocks">
      <% StockWallet.all.each do |wallet| %>
        <option value="<%= wallet.id %>"><%= wallet.name %></option>
      <% end %>
    </optgroup>
  </select>
  <input type="text" name="amount" placeholder="Amount">
  <input type="submit" value="Submit">
</form>
